@import url('https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,200..900;1,200..900&display=swap');

:root,body, html {
    font-family: "Source Sans 3", sans-serif!important;
    --md-text-font-family: "Source Sans 3", sans-serif!important;
    --md-code-font-family: "Source Sans 3", sans-serif!important;
}

